:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --font-poppins: 'Poppins', sans-serif;

} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and container layout */
body {
    font: 16px var(--font-poppins) ;
    background-color: var(--white);
    color: var(--grey-500);
}

.card {
    max-width: 1440px;
    margin: 80px auto 0;
    height: 100vh;
}

.card-header {
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 300;
}

.sub-title {
    font-size: 32px;
    font-weight: 600;
}

.description {
    font-size: 14px;
    max-width: 500px;
    margin: 8px auto 0;
}

.card-grid {
    margin-top: 40px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.card-grid > div {
    flex: 1
}

.card-grid .item {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background: var(--white);
    border-top: 4px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.card-grid .item img {
    margin-left: auto;
    margin-top: 20px;
}

.card-grid .item.item-1 {
    border-color: var(--cyan);
}
.card-grid .item.item-2 {
    border-color: var(--red);
}
.card-grid .item.item-3 {
    border-color: var(--orange);
}
.card-grid .item.item-4 {
    border-color: var(--blue);
}

.card-grid .content-boxes {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (max-width: 768px) {
    .card-grid {
      flex-direction: column;
    }
  
  }